.dropdown-list {
  margin-top: 16px;
}

.dropdown-list-item {
  border-top: 1px solid var(--border-color);
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  justify: center;
  align: start;
  gap: 8px;
  text-wrap: wrap;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-list-item:hover {
  background-color: var(--button-background-color);
}

.dropdown-list-item:first-child {
  margin-top: 0px;
}

.dropdown-list-item:last-child {
  padding-bottom: var(--font-size-title);
}

.dropdown-list-item-title {
  font-size: var(--font-size-title);
  color: var(--text-details-color);
  text-wrap: wrap;
}

.dropdown-list-item-address-container {
  display: flex;
  gap: 4px;
  align: center;
  justify: center;
  font-size: 16px;
}

.dropdown-list-item-address {
  font-size: var(--font-size-text);
  color: var(--text-secondary-color);
}
