.details-item-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: var(--font-size-title);
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-y: 10px;
}

.details-item-button div {
  margin-top: 2px;
}

.details-item-button:hover {
  color: var(--button-background-active-hover-color);
}

.details-item-name {
  font-weight: 500;
  font-size: var(--font-size-title-xl);
  color: var(--text-information-color);
  margin-top: 12px;
}

.details-item-tabs {
  display: flex;
  margin: 24px 0px;
  gap: 10px;
}

.details-item {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.details-item-label {
  font-size: var(--font-size-text);
  color: var(--text-secondary-color);
}

.details-item-value {
  font-size: var(--font-size-title);
  color: var(--text-information-color);
  margin-top: 4px;
}

.information-list-title {
  font-size: var(--font-size-title-xl);
  font-weight: 500;
  color: var(--text-information-color);
  margin-top: 20px;
}

.information-list {
  margin-top: 8px;
  margin-left: 20px;
  color: var(--text-information-color);
}

.information-list li {
  padding: 10px 0px;
}
