* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: #357bfc;
}

.map-container {
  position: relative;
  border-radius: 20px;
}

.leaflet-container {
  width: 100%;
  height: 94vh;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.tag-item {
  color: #357bfc;
  max-width: max-content;
  background-color: #eef6ff;
  font-size: 14px;
  border-radius: 4px;
  padding: 2px 6px;
}

.w-full {
  width: 100%;
}

.marker-cluster-small {
  background-color: rgba(53, 123, 252, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(53, 123, 252, 0.6);
}

.marker-cluster-large {
  background-color: rgba(53, 123, 252, 0.6);
}

.marker-cluster div {
  background-color: #2c6ed6;
}
